@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ecf0f1;
}

html {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(90deg, #6F1E51, #130f40);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.log-game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.active-form {
    display: flex;
}

.log-game input:not(:nth-child(3)) {
    height: 30px;
    width: 200px;
    padding: 20px;
    border-radius: 99px;
    border: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    transition: .3s;
}

.log-game input:not(:nth-child(3)):focus {
    border: 1px solid rgb(221, 160, 221);
}

.log-game .button {
    height: 45px;
    width: 120px;
    margin: 20px auto 0 auto;
    color: #252525;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 99px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.head-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .3s;
}

.head-game .info p:nth-child(2){
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    text-align: center;
}

.main-game {
    position: relative;
    height: 400px;
    width: 400px;
}


/*################ ORIENTATION LINES ###############*/


.main-game .board {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-game .board .vertical,
.main-game .board .horizontal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.main-game .board .vertical div,
.main-game .board .horizontal div {
    width: 85%;
    height: 3px;
    background-color: #ecf0f1;
    margin: auto;
    border-radius: 100%;
}

.main-game .board .vertical {
    transform: rotate(90deg);
    position: absolute;
}


/*#############  ARRAY GAME  ##############*/


.main-game .container-game {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translatey(-50%) translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.main-game .container-game .space-check {
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*##############  CONTROLS ASIDE  ###############*/


.main-game .controls {
    position: absolute;
    top: 0;
    right: -40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-game .controls .icons {
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: .3s;
}

.main-game .controls .icons:hover {
    transform: scale(1.1);
}

@keyframes animationNamePlayer {
    0% {
        transform: translateY(0) scale(1.1);
        font-weight: 800;
    }
    50% {
        transform: translateY(-3px) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1.1);
    }
}